/*Google Fonts- Poppins*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #0d0d25;
}

h1,
h2 {
  text-align: center;
  font-size: 2rem;
}

.tab {
  margin-top: 2.5em;
}

body {
  background: #e3e3e6;
}

.box {
  width: 30%;
  border: 8px solid rgb(68, 52, 31);
  padding: 50px;
  margin: auto;
  margin-bottom: 50px;
  background: #ffffff;
}

#content {
  width: 100%;
  height: 100%;
  position: relative;
}

.input {
  width: 100%;
}

#documentArea {
  width: 70%;
  padding: 50px;
  border: 8px solid rgb(161, 145, 127);
  background: #b5c7d3;
}

textarea {
  padding: 20px;
  width: 100%;
  height: 50%;
  background: #ffffff;
}

.doc-main {
  padding-top: 50px;
}

.btn {
  margin-top: 5px;
  background: #e3e3e6;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid #0d0d25;
}

select {
  margin: 30px;
  width: 50%;
}