/*Google Fonts- Poppins*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #4a4a4e;
}

h1,
h2 {
  text-align: center;
  font-size: 2rem;
}
.tab {
  margin-top: 2.5em;
}

body {
  background: #d5e1ce;
}

.box {
  width: 50%;
  border: 15px solid rgb(10, 70, 47);
  padding: 50px;
  margin: 20px;
}
#content {
  width: 100%;
  height: 100%;
  position: relative;
}
.input {
  width: 100%;
}
#documentArea {
  width: 90%;

  border: 15px solid rgb(127, 161, 149);
}
textarea {
  padding-top: 50px;
  width: 100%;
  height: 50%;
}
.doc-main {
  padding-top: 50px;
}
